@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/* Style the header container */
.header-links {
  background-color: transparent;
  color: var(--text-white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* Style the navigation bar */
.headers {
  display: flex;
  list-style: none;
  gap: 2em;
  margin: 0;
  padding: 0;
}

/* Style navigation links */
.navigation-link a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  transition: color 0.3s ease-in-out;
}

/* Add hover effect */
.navigation-link a:hover {
  color: #f4a261;
}

.portfolio-logo h2 {
  color: white;
  font-family: "Caveat", cursive;
  margin-right: 50px;
}
