@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/* Style the header container */
.header-links {
  background-color: transparent;
  color: var(--text-white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* Style the navigation bar */
.headers {
  display: flex;
  list-style: none;
  gap: 2em;
  margin: 0;
  padding: 0;
}

/* Style navigation links */
.navigation-link a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  transition: color 0.3s ease-in-out;
}

/* Add hover effect */
.navigation-link a:hover {
  color: #f4a261;
}

.portfolio-logo h2 {
  color: white;
  font-family: "Caveat", cursive;
  margin-right: 50px;
}


.download-cv-link {
  margin-top: 1em;
  text-align: center;
  margin-left: 50px;
}

.download-cv-link a {
  display: inline-block;
  padding: 12px 40px;
  background: transparent;
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none !important;
  border: 3px solid white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 1.5;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-cv-link a::before {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.download-cv-link a:hover {
  background: white;
  color: black !important;
  border-color: black;
}

.download-cv-link a:hover::before {
  border-color: black;
}
